*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    color: black;
    text-align: center;
}
header :hover{
    background-color: green;
    color: red;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
.container h2{
    text-align: center;
}
form{
    margin: 2rem 0 2rem 0;
}
form select{
    width: 100%;
    border: none;
    cursor: pointer;
}
form input{
    border: 1px solid lightgray;
    outline: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
    width: 100%;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5 rem;
    border: 1px solid lightgray;
}
.select-container select{
    font-size: 1rem;
}
.msg{
    margin: 2rem 0 2rem 0;
    text-align: center;
}
.exchange{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    background-color: white;
    cursor: pointer;
}
.rate{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
footer{
    text-align: center;
    background-color: green;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}
footer :hover{
    text-align: center;
    background-color: red;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}